<div class="offer-top-header">
  <a href="#" class="close"><i class="icon-close"></i></a>
  <p>Get up to <strong>30% off</strong> for your 1st order</p>
</div>
<header id="header">
  <div class="middle-header">
    <div class="wrap">
      <div class="header-info">
        <div class="contact-info">
          <a href="tel:+12558551351"><i class="icon-call"></i>+ 1 255 855 1351</a>
          <a href="mailto:info@clothify.com"><i class="icon-message"></i>info@clothify.com</a>
        </div>
        <div class="currency-info">
          <div class="custom-select">
            <select>
              <option>$ USD</option>
              <option>£ USD</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-bottom">
    <div class="wrap">
      <a href="index.html" id="logo" title="Clothify">
        <img src="/assets/logo.svg" alt="">
      </a>
      <nav id="mainmenu">
        <ul>
          <li><a href="listing.html" title="Men's">Men's</a></li>
          <li><a href="listing.html" title="Women's">Women's</a></li>
          <li><a href="listing.html" title="Kid's">Kid's</a></li>
          <li><a href="listing.html" title="Pages">Pages</a></li>
          <li><a href="listing.html" title="Hot deals">Hot deals</a></li>
          <li><a href="listing.html" title="Contact">Contact</a></li>
        </ul>
      </nav>
      <!-- /#mainmenu -->
      <div class="account-info">
        <div class="search-box">
          <a href="#" class="search-btn"><i class="icon-search"></i></a>
          <input type="text" placeholder="Search" class="textbox">
        </div>
        <div class="profile-info">
          <a href="login-page.html"><i class="icon-user"></i></a>
        </div>
        <div class="cart-info">
          <a href="#"><i class="icon-bag"></i><span class="cart-icon">5</span></a>
          <div class="minicart">
            <div class="cart-header">
              <h4>Shopping cart</h4>
              <a href="#" class="minicart-close"><i class="icon-close"></i></a>
            </div>
            <div class="minicart-box">
              <div class="minicart-row">
                <div class="product-image">
                  <img src="/assets/minicart-item.png" alt="minicart-item">
                </div>
                <div class="minicart-item-info">
                  <h5><a href="#">Women's tracksuit Q109</a></h5>
                  <span class="cart-product-color">Blue, <span class="cart-product-size">S</span></span>
                  <div class="minicart-qty">
                    <div class="qty-input">
                      <button class="qty-count qty-count--minus" data-action="minus" type="button">-</button>
                      <input class="product-qty" type="number" name="product-qty" min="1" max="10" value="1">
                      <button class="qty-count qty-count--add" data-action="add" type="button">+</button>
                    </div>
                    <div class="price">Rs. <span> 37,500.00</span></div>
                  </div>
                </div>
              </div>
              <div class="sub-total">Total <span>Rs. 37,500.00</span></div>
              <div class="btn-actions">
                <button class="button" type="button">Check Out</button>
                <button onclick="window.location.href='cart.html';" class="button btn-secondary" type="button">
                  View Cart
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.wrap -->
  </div>
</header>
