/* only ipad 1024 and bigger screen landscape screen */
@media only screen and (min-width: 480px) {
	.search-box .textbox { display: block!important; }
}

@media only screen and (min-width: 1024px) {
	#mainmenu > ul { display:flex !important; }
}

/*==========================================================================================================*/
@media only screen and (max-width: 1600px) {
	.banner-slider .banner-content { min-height: 408px; }
	.profile-info { margin: 0 15px;	}
	.header-bottom { padding: 15px 0; }
	.pagination-box li { margin: 0 10px; }
	.pagination-box li a { width: 45px;	height: 45px; font-size: 16px; }
	.about-content h2 { font-size: 40px; }
	.about-content p { font-size: 20px; }
	.highlight-content { padding:80px 30px 80px 50px; }
	.highlight-section .hightlight-box:nth-child(even) .highlight-content {  padding-left: 30px; padding-right: 50px; }
	div.page-title h2 { font-size: 40px; }
	div.page-title { margin-bottom: 40px; }
	.contact-form .form-block { padding-right: 30px; }
}

/*==========================================================================================================*/
@media only screen and (max-width: 1400px) {
	.banner-slider .banner-content { min-height: 408px; }
	.banner-slider .banner-content h2 { font-size: 36px; }
	h1, h2 { font-size: 30px; }
	.collection-info h3 { font-size: 80px; }
	.brand-boxes .brand-box img { height: 35px; }
	h5 { font-size: 22px; }
	.collection2 .collection-info { padding: 60px; }
	.collection-info { padding: 60px; }
	.contact-row i { min-width: 60px; min-height: 60px; font-size: 28px; }
}

/*==========================================================================================================*/
@media only screen and (max-width: 1200px) {
	.banner-slider .banner-content { min-height: 300px; }
	.category-box { padding: 20px; }
	h1, h2 { font-size: 26px; }
	.category-content .readmore-link { margin-top: 30px; }
	.section-row { padding: 15px 0;	}
	.category-grid, .category-grid1 { margin-top: 25px; }
	.price-box span { font-size: 16px; }
	.category-info h4 { margin-bottom: 10px; }
	.collection-info { padding: 30px; }
	.collection-info h3 { font-size: 60px; }
	.collection-info h2 { font-size: 28px; }
	.collection2 .collection-info{ padding: 30px; }
	.discount-banner .collection-info { padding: 30px; }
	.discount-banner.small-banner .collection-info h3 { font-size: 45px; }
	.brand-boxes .brand-box img { height: 25px; }
	.section-row.top-brands { padding-bottom: 25px;	}
	.benefit-box { padding: 5px 0; }
	h5 { font-size: 20px;}
	.latest-news-content h5 { min-height: auto; }
	.latest-news-content { padding: 20px; }
	.section-row.banefits-section { padding: 40px 0; }

	/* Product Page */
	.product-gallery { width: 40%; }
	.product-description { width: 60%;}
	.size-info .select-size-list { margin: 22px -6px 20px; }
	.size-info .select-size-list li { padding: 0 6px 6px; font-size: 14px; }
	.size-info .select-size-list li a { width: 40px; height: 40px; }
	.about-content h2 {	font-size: 30px; }
	.about-content p {	font-size: 18px; }
	.highlight-content { padding: 50px 30px 50px 30px!important; }
	.contact-form .form-block {	padding-right: 0; }
	.contact-row i { min-width: 50px; min-height: 50px;	font-size: 24px;margin-right: 15px;	}
	.contact-section .cols .col:first-child { width: 60%; }
	.contact-section .cols .col:last-child { width: 40%; }

	.cart-page .table-responsive { overflow: auto; }
	.cart-page .table-responsive table { white-space: nowrap;	overflow: hidden; }
	.cart-product-content h4 { font-size: 16px; margin-bottom: 10px; }
}	

/*==========================================================================================================*/
@media only screen and (max-width: 1023px) {
	body { min-width:320px; }
	img{ max-width: 100%; width:auto; height:auto; }
	.wrap { width:auto; padding:0 20px; }
	
	.buttonset .col a { margin:0 5px 8px 0; }
	.cols2.default-grid.tab-grid .col { width:100%; }
	
	.image-block figure { width:45%; }

	#header { position:relative; }
	#mainmenu > ul { display:none; position:absolute; left:0; width:100%; top:100%; background:#ee6c4d; z-index:5; }
	#mainmenu ul li { float:none; margin:0; padding:0; border-bottom:solid 1px rgba(255,255,255,0.3); }
	#mainmenu ul li a { padding:6px 15px; display:block; color:#fff; }
	#mainmenu ul li a:after { display:none; }
	/* Responsive Menu line icon*/
	#menu { display:block;  }
	.menulines-button { padding:0; cursor: pointer; user-select: none; text-transform:uppercase; font-size:16px; color:#fff; text-decoration:none; height: 20px; }
	.menulines-button em { font-style:normal; font-weight:bold; margin-left:10px; display: none; }
	.menulines-button:hover { text-decoration:none; }
	.menulines { display: inline-block; width: 20px; height: 3px; background: #EE6C4D; position: relative; float: left; margin:9px 0 0 0; -moz-transition:all 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000); -ms-transition:all 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000); -webkit-transition:all 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000); transition:all 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000); opacity:1; }
	.menulines:before, .menulines:after { display: inline-block; width:20px; height: 3px; background: #EE6C4D; position: absolute; left: 0; content:''; -moz-transition:all 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000); -ms-transition:all 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000); -webkit-transition:all 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000); transition:all 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000); -webkit-transform-origin: 0.28571rem center; -moz-transform-origin: 0.28571rem center; -ms-transform-origin: 0.28571rem center; transform-origin: 0.28571rem center; }
	.menulines:before { top: 7px; }
	.menulines:after { top: -7px; }
	.menuopen .menulines { background:none; }
	.menuopen .menulines:before, .menuopen .menulines:after {  -webkit-transform-origin: 50% 50%;  -moz-transform-origin: 50% 50%;  -ms-transform-origin: 50% 50%; transform-origin: 50% 50%; top: 0; } 
	.menuopen .menulines:before { -webkit-transform: rotate3d(0, 0, 1, 45deg); transform: rotate3d(0, 0, 1, 45deg); } 
	.menuopen .menulines:after {  -webkit-transform: rotate3d(0, 0, 1, -45deg); transform: rotate3d(0, 0, 1, -45deg); }


	/* New css */
	#mainmenu { order: 2; margin: 0 0 0 20px; }
	.category-content .readmore-link { margin-top: 10px; } 
	.category-box { background-position: -50px center; }
	.cols { margin-left: -10px; margin-right: -10px; }
	.cols .col { padding-left: 10px; padding-right: 10px; }
	.category-grid, .category-grid1 { grid-template-columns: repeat(4, 1fr);  }
	.banner-slider .banner-content .wrap { max-width: 510px; }
	.banner-slider .banner-content { min-height: 250px; }
	.price-box span.regular-price { display: block; }
	.collection-info h3 { font-size: 40px; }
	.collection-info h2 span { font-size: 20px; }
	.collection-info h2 { font-size: 22px; margin-bottom: 10px; }
	.collection-info .readmore-link { margin-top: 10px; }
	.collection-info {padding: 20px;	}
	.top-peak-box h5 { font-size: 16px; margin-top: 10px; }
	.benefit-box h5 { font-size: 18px; }
	.benefit-box img { height: 25px; margin-bottom: 10px; }
	.brand-boxes { justify-content: center; }
	.brand-boxes .brand-box { width: 25%; }
	.discount-banner .collection-info { padding: 20px; }
	.discount-banner.small-banner .collection-info h3 { font-size: 30px; }
	.date-time span:last-child { padding-left: 9px; margin-left: 5px; }
	.date-time span { font-size: 14px; }
	.section-heading h2:before { width: 70px; height: 2px; }
	#footer .cols .col { width: 50%; }
	.special-discount-section .cols { margin-right: -10px; margin-left: -10px; }
	.section-row { padding: 10px 0; }

	/* Category Menu */
	.filter-content-area { width: 100%; }
	.filter-sidebar { width: 90%; position: fixed; height: 100%; right:0; transform: translateX(100%);	top: 0;	background: #fff;	z-index: 5;	padding:50px 20px 20px; transition: all 350ms linear; }
	.product-list-section  {  position: relative; }
	#category-filter { position: absolute; top: -2px; right: 0; z-index: 1; background: #EE6C4D; color:#fff; text-transform: uppercase; font-size: 14px; font-weight: 700; padding: 3px 10px; }
	.active-filter .filter-sidebar {  transform: translateX(0); }
	.active-filter { overflow: hidden; }
	.active-filter:before { content: ''; width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: rgba(0,0,0,0.5); z-index: 3; }
	#category-filter-close { width: 40px; height: 40px; border-radius: 0; position: absolute; top: 0; right: 0; background: #EE6C4D; color:#fff; display: flex; align-items: center; justify-content: center; margin:0 0 0 auto; }
	.filter-box { max-height: 100%; height: 100%; overflow: auto; }
	.color-switch-list li a span { width: 30px; height: 30px; }
	.color-switch-list li  { padding: 5px; }
	.color-switch-list { margin: 0; }
	.select-size-list { font-size: 0; margin: 0; }
	.select-size-list li a { width: 30px; height: 30px; font-size: 12px; }
	.accordion-databox .accordion-row h5 { font-size: 16px; }
	.range-slider-box input { font-size: 14px; height: 40px; }
	.pagination-box li { margin: 0 5px; }
	.pagination-box li a { width: 30px;	height: 30px; font-size: 14px; }
	.product-media .wrap { flex-wrap: wrap; }
	.product-gallery { width: 100%; }
	.product-description { width: 100%; padding-left: 0; }
	.product-description .price-box span { font-size: 20px;	}
	.product-description .price-box { flex-wrap:wrap; display: flex; }
	.product-description .price-box { padding-bottom: 20px;	margin-bottom: 20px; }
	.actions { margin: 20px 0; }
	.qty-box { padding-top: 20px; margin-top: 20px; }
	.product-policy-info { padding: 20px; }
	.payment-method { padding: 20px 0 15px;	margin-top: 20px; }
	.payment-method ul li { margin-bottom: 5px; margin-right: 25px; }
	.product-description-info { padding: 20px 0 18px; }
	.additional-information { padding: 20px 0; }
	.customer-rating { margin-top: 20px; }
	.interested-product { padding: 30px 0; }
	.product-gallery .product-name-info { margin-bottom: 30px; }
	.product-description .price-box { margin-top: 0; }
	.product-name-info h2 { font-size: 24px; }
	.size-detail {	width: 50%;	padding: 45px 20px;	}
	table th { padding: 10px; font-size: 14px; }
	table th, table td { padding: 10px; }
	.about-content p { font-size: 16px; }
	.about-content { padding-bottom: 30px; } 
	.highlight-content { padding: 30px 30px 30px 30px!important; }
	.highlight-content { font-size: 16px; }
	.highlight-content p:not(:last-child) { margin-bottom: 20px; } 
	.contact-form .form-block { grid-gap: 0 20px; }

	.cart-product-info .cart-product-img { min-width: 100px; max-width: 100px; }
	.cart-page table td { padding: 20px 20px; }
	.cart-page table th, .cart-page table td { padding: 14px 20px; }
	.cart-page { margin-bottom: 20px; }
	.sub-total-box .subtotal.grand-total span { font-size: 20px; }
	.note-section { padding: 20px; }
	.sub-total-box .subtotal { padding: 20px 20px 15px; }
	.sub-total-box { padding-bottom: 25px; }
}



/*==========================================================================================================*/
@media only screen and (max-width: 767px) {

	.default-grid.cols3 .col { width:50%; }
	.tabnav { display:none; }
	.tab-container { padding:0; border:none;}
	.tab-data { margin:0 0 30px; }
	.tab-data .tabnav { display:none; }
	.tab-container .tabMobiletrigger { background:#f3f3f3; border:medium none; font-size:15px !important; text-transform:uppercase; margin:0 0 7px; padding:16px 54px 16px 16px; position:relative; cursor:pointer; font-weight:bold; }
	.tabMobiletrigger:after { border-left:8px solid rgba(0, 0, 0, 0); border-right:8px solid rgba(0, 0, 0, 0); border-top:8px solid #848690; content:""; margin-top:-3px; position:absolute; right:19px; top:50%; }
	.tabMobiletrigger:before { background:rgba(0, 0, 0, 0.08); content:""; height:100%; position:absolute; right:0; top:0; width:54px; z-index:1; }
	.tabcontent { padding:15px 0; margin:0; }
	.tabMobiletrigger.rotate:after { border-top-color:#272c2f; -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -ms-transform:rotate(180deg); transform:rotate(180deg); }
	
	.heading-listblock.cols2 .col, .dropcaps-box.cols2 .col { width:100%; }
	
	/* New css */
	.header-bottom { padding: 10px 0; }
	.banner-slider .banner-content h2 { font-size: 30px; } 
	.banner-slider .banner-content p { font-size: 16px; }
	.home #main {	padding: 10px 0;	}
	.category-box { background-position: center left; }
	.category-section .default-grid.cols3 .col { min-width: 320px; margin-bottom: 0; width: 100%; }
	.category-section .cols { white-space: nowrap; overflow: auto; flex-wrap: nowrap; }
	.category-content { white-space: normal; }
	.category-section .wrap { position: relative; }
	.category-section .wrap:after { content:''; position: absolute; right: 0; top:0; background: rgb(2,0,36);
		background: linear-gradient(90deg, rgba(2,0,36,0) 79%, rgba(255,255,255,0.8) 100%); height: 100%; width: 100%; z-index: 1; pointer-events: none; }
	.category-section .cols::-webkit-scrollbar { display: none; }
	.category-section .cols { -ms-overflow-style: none;	scrollbar-width: none; /* Firefox */  }
	.price-box span { font-size: 14px; }
	.category-info h4 { font-size: 14px; }
	.top-peak-box h5 { font-size: 14px;	}
	.collection-banner { background-position:center center;  }
	h1, h2 { font-size: 20px; }
	.collection-info h2 { font-size: 20px;	margin-bottom: 10px; }
	.collection-info h2 span { font-size: 18px;	}
	.discount-banner.small-banner .collection-info h3 { font-size: 25px; }
	.collection-info h3 { font-size: 30px;	}
	.benefits-boxes .cols .col { width: 50%; margin: 15px 0; }
	.latest-news .default-grid.cols3 .col { margin-bottom: 20px; }

	.latest-news { position: relative; }
	.latest-news:after { display: none; content:''; position: absolute; right: 0; top: 74px; background: rgb(2,0,36);
		background: linear-gradient(90deg, rgba(2,0,36,0) 79%, rgba(255,255,255,1) 100%); height: calc(100% - 105px); width: 100%; z-index: 1; pointer-events: none; }
	.latest-news .cols::-webkit-scrollbar { display: none; }
	.latest-news .cols { -ms-overflow-style: none;	scrollbar-width: none; /* Firefox */ overflow: auto; flex-wrap: nowrap;  }
	.latest-news .cols .col { min-width: 280px; }
	.latest-news-content h5 { font-size: 18px; }
	.last-footer .copyright { padding-bottom: 20px; }
	.support-payment { padding-bottom: 20px; }
	.social-media-link li { margin-right: 20px;	}
	.section-heading h2 { margin-bottom: 20px; }
	.brand-boxes .brand-box { width: 20%; }
	.brand-boxes .brand-box img { height: auto; }
	.support-payment li { margin-left: 15px; }
	.benefits-boxes .cols .col:nth-child(2) { border:0; }
	.pagination-box { margin-top: 10px; }
	.product-list-page { padding: 30px 0; }
	.page-title { margin-bottom: 30px; }
	
	.size-guide-boxes { flex-direction: column; }
	.size-detail { width: 100%; padding: 20px; }
	table th:first-child, table td:first-child { text-align: left; }
	.button { padding: 14px 40px; }
	.highlight-content { padding: 30px 20px!important; }
	.contact-section .cols .col:first-child { width: 100%; }
	.contact-section .cols .col:last-child { width: 100%; }
	.contact-details { padding: 30px 20px; margin-top: 30px; }
	div.page-title h2 {	font-size: 30px;	}
	div.page-title { margin-bottom: 20px; }
	.contact-page {	padding-bottom: 30px; }
	.minicart { margin-top: 10px; right: 20px; }
	
	.cart-product-content span { font-size: 14px; }
	.cart-qty .qty-input { min-width: 100px; }
	.cart-product-content span { margin: 4px 0; }
	.cart-footer .cols .col:first-child { width: 100%; }
	.cart-footer .cols .col:last-child { width: 100%; }
	.sub-total-box .subtotal { padding: 0 20px 10px; }
	.sub-total-box .subtotal.grand-total { padding-top: 10px; }
	.sub-total-box .button { width: calc(100% - 40px); margin-top: 10px; }
	.note-section { padding: 15px; }
	.cart-page { padding-top: 0; }
	.cart-page .table-responsive { margin-top: 30px; }
}
/*==========================================================================================================*/
/* only iphone4 landscape & Potriat 300 by 480*/
@media only screen and (max-width: 567px) {
	
	
	.default-grid.cols3 .col, .default-grid.cols2 .col, .default-grid.cols4 .col { width:100%; }
	/* table.res-table tr th { display:none; }
	table.res-table tr td { display:block; position:relative; padding-left:50%; }
	table.res-table td:before { content: attr(data-th) ": "; font-weight: bold; width: 50%; display:block; padding-right:10px; position:absolute; left:0; top:0; padding:10px 10px; } 
	table.res-table { border-top:0; }	 */
	#logo { width:200px; }
	
	.list-block.cols3 .col { width:100%; }
	.image-block figure { width:100%; float:none; padding-right:0; }
	.image-block.right-align figure { padding-left:0; }

	/* New css */
	.contact-info a { margin-right:20px; }
	.middle-header .custom-select { width: 80px; }
	body { font-size: 14px; }
	.middle-header { padding: 6px 0; }
	.banner-slider .banner-content { padding: 30px 0; min-height: auto; }
	.banner-slider .banner-content h2 { font-size: 24px; }
	h1, h2 { font-size: 20px; }
	.category-tab-link ul li { margin-right: 12px; font-size: 16px; }
	.category-grid, .category-grid1 {grid-template-columns: repeat(2, 1fr);	}
	.category-grid .category-box-info, .category-grid1 .category-box-info1 { margin-bottom: 15px; }
	.section-row.best-seller { padding-bottom: 0; }
	.category-tab-link ul { overflow: auto; white-space: nowrap; }
	.banner-slider .banner-content .button { padding: 10px 30px; }
	.collection-info h2 {font-size: 18px; margin-bottom: 10px; }
	.collection-info h2 { font-size: 18px;	margin-bottom: 10px; }
	.collection-info { width: 60%; }
	.collection2 .collection-info { padding: 20px; }
	.collection-info h3 { font-size: 25px; }
	.collection-info p { font-size: 14px; }
	.collection-info .readmore-link { margin-top: 5px; }
	.top-peak-section .wrap { position: relative; }
	.top-peak-section .wrap:after { content:''; position: absolute; right: 0; top:64px; background: rgb(2,0,36);
		background: linear-gradient(90deg, rgba(2,0,36,0) 79%, rgba(255,255,255,1) 100%); height: calc(100% - 64px); width: 70%; z-index: 1; pointer-events: none; }
	.top-peak-section .wrap .top-peak::-webkit-scrollbar { display: none; }
	.top-peak-section .wrap .top-peak { -ms-overflow-style: none;	scrollbar-width: none; /* Firefox */ overflow: auto; flex-wrap: nowrap;  }
	.top-peak-section .wrap .top-peak .top-peak-box { min-width: 120px;	margin-right: 16px;	}

	#footer .cols .col { width: 100%; }
	#footer { padding-top: 35px; }
	.last-footer { flex-direction: column; }
	.support-payment li { margin: 0 10px; }
	.last-footer .copyright { padding-bottom: 15px; }
	.support-payment { padding-bottom: 15px; }
	.footer-link { margin-bottom: 25px; }
	.subscribe-info p { margin-bottom: 15px; }
	.social-media-link { margin-top: 15px; }
	.footer-link h5 { margin-bottom: 10px; }
	.fmenu li { margin-bottom: 0; }
	.discount-banner.large-banner { padding-top: 58%; margin-bottom: 20px; }
	.discount-banner.small-banner { padding-top: 58%; }
	.discount-banner img { object-fit: cover; }
	.discount-banner.small-banner:not(:last-child) { margin-bottom: 20px; }
	.section-row.top-brands {padding-bottom: 20px;	}
	.brand-boxes .brand-box { width: 33.33%; padding: 5px 10px; }
	.brand-boxes .brand-box img { height: auto; width: 80px; object-fit: cover; }
	.benefits-boxes .cols .col {  }
	.section-row.banefits-section { margin-bottom: 0; }
	.home #main { padding: 10px 0; }
	.benefits-boxes .cols .col { border: 0; margin: 0; }
	.benefits-boxes .cols .col .benefit-box { border-bottom: 1px solid #E5E5E5!important; margin:0 0 15px 0; padding: 0 0 15px 0; }
	.benefits-boxes .cols .col:last-child { padding-bottom: 0; margin-bottom: 0; border-bottom: 0!important; }
	.benefits-boxes .cols .col:last-child .benefit-box { margin-bottom: 0; border-bottom: 0!important; padding-bottom: 0; }
	.section-row.banefits-section { padding: 30px 0; }
	h5 { font-size: 18px; }
	.filter-list-boxes .default-grid.cols .col { width: 50%; }
	.rating-box .rating span { margin-right: 3px; }
	.offer-top-header { padding-left: 36px; padding-right: 36px; }
	.interested-product .cols .col { width: 50%; }
	.interested-product .categories-box { margin-bottom: 30px; }
	.interested-product { padding-bottom: 0; }
	.actions { flex-direction: column; display: flex; }
	.actions button { margin: 0 0 10px; }
	.payment-method ul li { margin-right: 12px; margin-bottom: 10px; }
	.payment-method { padding-bottom: 5px; }
	.additional-information { padding: 15px 0; font-size: 16px; }
	.product-policy-info div i { font-size: 20px; }
	.product-policy-info div:first-child { padding-right: 15px; margin-right: 15px; }
	.product-policy-info { flex-direction: column; align-items: flex-start; width: 100%; padding: 10px 20px; }
	.product-policy-info div:first-child { border-right: 0; padding-right: 0; margin-right: 0; margin-bottom: 10px; }
	.payment-method ul li img { max-width: 50px; }
	.table-responsive { overflow: auto; }
	.table-responsive table { white-space: nowrap; overflow: hidden; }
	.size-info .select-size-list li a { width: 40px; height: 40px;  font-size: 14px;}
	.size-guide { flex-wrap: wrap; }
	.size-info { position: relative; }
	.size-guide-link { position: absolute; right: 0; top: 0; z-index: 1; }
	.size-info .select-size-list { margin: 10px -6px 5px; }
	.color-info .color-switch-list li a span { width: 40px; height: 40px; }
	.color-info .color-switch-list { margin-top: 2px; }
	.qty-box { margin-top: 15px; }

	.hightlight-box { display: block; }
	.highlight-info { width: 100%; }
	.highlight-img { min-height: 250px;	}
	.about-content h2 { font-size: 25px; }
	body:not(.home) #header { margin-bottom: 30px; }
	.contact-form .form-block { display: block; }
	div.page-title h2 {	font-size: 25px; } 
	.acount-pages { padding: 0 0 30px; }
	.login-form { padding: 20px; background: #F8FAFF; }
	.create-acount .form-block { display: block; }

	.cart-page table th, .cart-page table td { display: block; padding: 20px 0; border: 0; white-space: normal; }
	.cart-page table td.qty-info, .cart-page table td.price-info { display: block; }
	.cart-page table td.totalprice-info { float: left; width: 100%; }
	.cart-qty .qty-input { min-width: 100px; max-width: 100px; }
	.qty-info .qty-input .product-qty { height: 30px; }
	.cart-page table th { display: none; }
	.cart-page table td.qty-info, .cart-page table td.price-info { float: none; display: inline-block; vertical-align: middle; margin-right: 20px; padding: 0; }
	.cart-page table td.qty-info { float: left; }
	.table-responsive .res-table tr { text-align: left; position: relative; }
	.table-responsive .res-table tr td:first-child { padding-top: 20px; border-top: 1px solid #EDF0F4; }
	.cart-page table td.price-info .cart-product-price { margin: 7px 0; }
	.cart-product-remove a { position: absolute; right: 0; top: 15px; width: 20px; height: 20px; font-size: 11px; display: flex; align-items: center; justify-content: center; background: #000; border-radius:5px ; color:#fff; }
	.cart-product-info .cart-product-content { padding-right: 20px; }
	.totalprice-info .cart-product-price { font-weight: 700; }
	.sub-total-box .subtotal > span { font-size: 16px; }
	.sub-total-box .subtotal.grand-total span { font-size: 18px; }
	.note-section textarea { height: 85px; }
	.cart-footer { padding-bottom: 0; }
}

/*==========================================================================================================*/
/* only iphone landscape 340 by 478*/
@media only screen and (max-width: 480px) {

	 .form-inline .form-group label, .form-inline .form-group .field-box { float:none; display:block; width:auto; }
	.form-inline .form-group label.blank { display:none; }
	
}
/*==========================================================================================================*/
/* only iphone portrait 300 by 479*/
@media only screen and (max-width: 479px) {
	
	.search-box .textbox { display: none; border: 1px solid #E9E9E9; border-left: 0; border-right: 0; height: auto;padding-left: 20px;position: absolute;left: 0;top: 100%;	z-index: 2; height: 48px; }
	.search-box { position: static; }
	.header-bottom { position: relative; }
	.search-box .search-btn { position: static; }
	.contact-info a { font-size: 0; margin-right: 10px; }
	.contact-info a i { margin-right: 0; }
		
} 
/*==========================================================================================================*/
/* Retina css */ 
/*@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2) {
	.sprites, .sp-after:after, .sp-before:before { background-image:url(../images/bgi/sprites@2x.png);
	-moz-background-size:237px 207px; -ms-background-size:237px 207px; -o-background-size:237px 207px; -webkit-background-size:237px 207px; background-size:237px 207px;}
}*/